<div class="card-list-content">
    <div id="card-list" class="card card-list-item"
         ng-class="{'active': vm.isSelected, 'draggable': vm.isSortable, 'reduced-format': !vm.hasCaption}">
        <div class="card-list-item-header" ng-class="{'reduced-format': !vm.hasCaption}">
            <img class="card-list-item-avatar" ng-src="/userbook/avatar/[[vm.getLastUserId(vm.card)]]?thumbnail=48x48"/>
            <div class="card-list-item-header-creation">
                <span class="card-list-item-header-creation-user" ng-bind="vm.getLastUserName(vm.card)"></span>
                <span tooltip="[[vm.formatDate(vm.card.modificationDate)]]" class="card-list-item-header-creation-date">
                    [[vm.formatDateModification(vm.card.modificationDate)]]
                </span>
            </div>
            <i ng-if="vm.hasOptions()" class="magneto-card-settings" data-ng-click="vm.openCardOptions(); $event.stopPropagation();"></i>
            <card-list-item-options
                    ng-show="vm.isDisplayedOptions"
                    options="vm.card"
                    has-edit="vm.hasEdit"
                    on-edit="vm.openEdit"
                    has-delete="vm.hasDelete"
                    on-delete="vm.openDelete"
                    has-hide="vm.hasHide"
                    on-hide="vm.openHide"
                    has-duplicate="vm.hasDuplicate"
                    on-duplicate="vm.openDuplicate"
                    has-preview="vm.hasPreview"
                    on-preview="vm.openPreview"
                    has-preview="vm.hasLock"
                    on-preview="vm.openLock"
                    has-transfer="vm.hasTransfer"
                    on-transfer="vm.openTransfer"
                    has-lock="vm.hasLock"
                    on-lock="vm.openLock">
            </card-list-item-options>
        </div>

        <div class="card-list-item-infos">
            <!--Card title-->
            <div class="card-list-item-infos-title" ng-class="{'reduced-format': !vm.hasCaption}">
                <span class="card-list-item-infos-title-ellipsis"  ng-if="!!vm.card.title"> [[vm.card.title]] </span>
            </div>
            <!--Card Previsualisation-->
            <card-list-item-preview
                    card="vm.card">
            </card-list-item-preview>
            <!--Card infos-->
            <div class="card-list-item-infos-footer flex-row" ng-if="vm.hasCaption">
                <!-- Card caption -->
                <span tooltip="[[vm.card.caption]]" class="card-list-item-infos-footer-caption">
                    [[vm.card.caption]]
                </span>
                <div class="card-list-item-infos-footer-locked">
                    <i ng-if="vm.card.locked" class="magneto-lock" aria-hidden="true" tooltip="magneto.card.locked.tooltip"></i>
                </div>
            </div>
        </div>
        <card-item-comments
                ng-if="vm.hasComments"
                card="vm.card"
                card-update-eventer="vm.cardUpdateEventer"
                board-owner="vm.boardOwner"
                selector-resize="vm.selectorResize">
        </card-item-comments>
    </div>
</div>