<div class="card-list-item-options">
    <nav role="navigation" aria-label="main navigation">
        <div id="options-[[vm.options.id]]" class="nav">
            <div class="items">
                <!-- Preview button -->
                <a class="item" ng-if="vm.hasPreview" ng-click="vm.openPreview()">
                    <i class="magneto-play" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.preview</i18n>
                    </span>
                </a>
                <!-- Edit button -->
                <a class="item" ng-if="vm.hasEdit" ng-click="vm.openEdit()">
                    <i class="magneto-edit" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.edit</i18n>
                    </span>
                </a>
                <!-- Duplicate button -->
                <a class="item" ng-if="vm.hasDuplicate" ng-click="vm.openDuplicate()">
                    <i class="magneto-duplicate" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.duplicate</i18n>
                    </span>
                </a>
                <!-- Move button -->
                <a class="item" ng-if="vm.hasTransfer" ng-click="vm.openTransfer()">
                    <i class="magneto-card-move" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.move</i18n>
                    </span>
                </a>
                <!-- Hide button -->
                <a class="item" ng-if="vm.hasHide" ng-click="vm.openHide()">
                    <i class="magneto-hide" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.hide</i18n>
                    </span>
                </a>
                <!-- Lock button -->
                <a class="item" ng-if="vm.hasLock && !vm.options.locked" ng-click="vm.openLock()">
                    <i class="magneto-lock" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.lock</i18n>
                    </span>
                </a>
                <!-- Unlock button -->
                <a class="item" ng-if="vm.hasLock && vm.options.locked" ng-click="vm.openLock()">
                    <i class="magneto-unlock" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.unlock</i18n>
                    </span>
                </a>
                <!-- Delete button -->
                <a class="item" ng-if="vm.hasDelete" ng-click="vm.openDelete()">
                    <i class="magneto-delete" aria-hidden="true"></i>
                    <span>
                        <i18n>magneto.card.options.delete</i18n>
                    </span>
                </a>
            </div>
        </div>
    </nav>
</div>