<div id="[[vm.selectorIdentifier]]" class="card-list card-list-[[vm.layout]] scrollbar">
    <card-list-item ng-repeat="card in vm.cards"
                    ng-click="vm.selectCard(card._id)"
                    ng-dblclick="vm.canEdit(card) ? vm.openEdit(card) : vm.hasPreview ? vm.openPreview(card) : null"
                    is-selected="vm.isCardSelected(card._id)"
                    is-sortable="vm.isSortable"
                    card="card"
                    has-caption="vm.hasCaption"
                    has-duplicate="!!vm.boardRight ? vm.canDuplicate(card) : vm.hasDuplicate"
                    on-duplicate="vm.openDuplicate"
                    has-hide="vm.hasHide"
                    on-hide="vm.openHide"
                    has-edit="!!vm.boardRight ? vm.canEdit(card) : vm.hasEdit"
                    on-edit="vm.openEdit"
                    has-delete="vm.hasDelete"
                    on-delete="vm.openDelete"
                    has-preview="vm.hasPreview"
                    on-preview="vm.openPreview"
                    has-transfer="!!vm.boardRight ? vm.canEdit(card) : vm.hasTransfer"
                    on-transfer="vm.openTransfer"
                    has-lock="!!vm.boardRight ? vm.canLock(card) : vm.hasLock"
                    on-lock="vm.openLock"
                    selector-resize="vm.selectorResize"
                    card-update-eventer="vm.cardUpdateEventer"
                    has-comments="vm.hasComments"
                    board-owner="vm.boardOwner">
        <h2>[[card.boardTitle]]</h2>
    </card-list-item>
</div>