.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 100%;

  .empty-state-svg {
    width: 26% !important;
  }

  .empty-state-text {
    padding: 24px;
  }
}
