<lightbox class="board-share-panel"
          show="vm.display"
          on-close="vm.closeForm()">

    <share-panel auto-close="true"
                 app-prefix="vm.appPrefix"
                 resources="vm.resources">
    </share-panel>

    <div class="sharePanel-warning" ng-if="vm.appPrefix == 'magneto/board'">
        <i18n>magneto.board.share.warning</i18n>
    </div>

    <div class="sharePanel-warning" ng-if="vm.appPrefix == 'magneto/folder'">
        <div>[[vm.translate('magneto.folder.share.warning', vm.resources[0].title)]]</div>
    </div>
</lightbox>
