<lightbox class="board-share-panel"
          show="vm.display"
          on-close="vm.closeForm()">

    <share-panel auto-close="true"
                 app-prefix="vm.appPrefix"
                 resources="vm.resources">
    </share-panel>

    <div class="sharePanel-warning" ng-if="(vm.appPrefix == 'magneto/board') && !vm.parentFolderIsShared()">
        <i18n>magneto.board.share.warning</i18n>
    </div>

    <div class="sharePanel-warning" ng-if="(vm.appPrefix == 'magneto/folder') && !vm.parentFolderIsShared()
    && !!vm.resources[0].shared && !!vm.resources[0].shared.length > 0">
        <i18n>magneto.folder.share.warning</i18n>
    </div>

    <div class="sharePanel-warning" ng-if="vm.parentFolderIsShared()">
        <div>[[vm.translate('magneto.share.warning', vm.parentFolder.title)]]</div>
    </div>
</lightbox>
