body {
  min-width: inherit;
  width: auto;
}

.MuiBox-root:focus-visible {
  outline: none;
}

$prefix: "edifice-";

[data-product="neo"][data-theme="theme-demo-cgi"] {
  --#{$prefix}primary: #5236ab;
  --#{$prefix}secondary: #b42d7e;

  .header {
    .navbar {
      background: #200a58;
    }
  }
}
