.board-categories-nav-item {
  display: flex;

  &.selected {
    background-color: $magneto-lighter-blue;
    color: $magneto-sky-blue;

    a {
      color: $magneto-sky-blue;
    }
  }

  i {
    align-self: center;
    margin-left: 24px;
  }

  i.magneto-chevron-right + i {
    margin-left: 0 !important;
  }

  i.magneto-chevron-right {
    font-size: 24px;
    margin-left: 0 !important;
  }

  a {
    color: $magneto-black;
    font-weight: bold;
    font-size: 14px;
  }
}