.board-list-item {

  height: 280px;
  width: 256px;
  border-radius: 10px;
  border: solid $magneto-lighter-grey 1px;

  &.active {
    border: solid $magneto-sky-blue 4px !important;
    margin: -4px;
  }

  @include mobile {
    width: 170px;
    height: 183px;
  }

  &-image {
    background: $magneto-grey-blue;
    border-radius: 10px 10px 0 0;
    flex: 1;

    img {
      max-height: 150px;
      max-width: 240px;
      object-fit: contain;
      margin: 5px;
    }
  }

  &-infos {
    height: 90px;
    margin: 15px;
    flex-direction: column;

    &-title {
      font-size: 16px;
      font-weight: bold;
    }

    &-nb-cards {
      i.magneto-magnet::before {
        color: $magneto-yellow;
        font-size: 16px;
      }

      font-size: 13px;
    }

    &-date {
      i.magneto-calendar::before {
        font-size: 16px;
      }

      font-size: 13px;
    }
  }

}