.card-list {
  background: $magneto-lighter-grey;
  gap: 16px;
  justify-content: center;
  @include paddingY(15px);
  @include paddingX(15px);
  &-scrollable {
    overflow-y: scroll;
    height: 55vh;
  }
}