.cardDirective-preview-image {

  flex: 1;
  display: flex;

  &-archive {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      padding: 15px;
    }
  }

  &-icons {
    height: 30vh;
    width: 100%;
    object-fit: contain;
  }

  iframe, video {
    width: 100%;
    height: 400px;
  }

  img{
    max-width: 57vw;
    max-height: 65vh;
  }

  &-img {
    max-height: 69vh;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  audio {
    width: 100%;
    margin: auto;
  }

  .file-viewer {
    height: 100%;

    .file {
      flex: 1;
      max-height: fit-content;
    }

    .file-csv{
      padding: 1px;
    }
    .file-txt{
      padding-bottom: 1px;
    }
    .pdf-viewer {
      max-height: 50vh;
      padding: 0;
      .render{
        max-width: 97%;
        max-height: 90%;
      }
    }

    .txt-viewer{
      max-height: calc(80vh - 255px) !important;
    }

    .txt{
      padding-right: 50px;
    }

    .csv-viewer > .render {
      max-height: calc(80vh - 170px);
    }

    .txt-viewer > .render {
      max-height: calc(80vh - 255px);
    }

    .render {
      max-height: calc(60vh - 170px);
    }
  }

}
