.cardDirective-preview-image {
  &-icons {
    height: 30vh;
    width: 100%;
    object-fit: contain;
  }

  iframe, video {
    width: 100%;
    height: 400px;
  }

  &-img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  audio {
    width: 100%;
    margin: auto;
  }

  .file-viewer {
    max-height: 65vh;
    height: 100%;

    .file {
      max-height: fit-content;
    }

    .pdf-viewer {
      max-height: 50vh;
      padding: 0;
      .render{
        max-width: 97%;
        max-height: 90%;
      }
    }
    .csv-viewer > .render {
      max-height: 46vh;
    }

    .render {
      max-height: 50vh;
    }
  }

}