.cardDirective-list {
  &.no-background-image {
    background: $magneto-lighter-light-grey;
  }

  &-free {
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    grid-auto-rows: 0;
  }

  &-vertical {
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    grid-auto-rows: 0;
  }

  &-horizontal {
    min-height: 75px;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;

  }
  @include paddingY(15px);
  @include paddingX(15px);
  &-scrollable {
    overflow-y: scroll;
    height: 55vh;
  }
}