.cardDirective-list {
  &.no-background-image {
    background: $magneto-lighter-light-grey;
  }
  $start: 0;
  $end: 5;
  @for $i from $start through $end {
    &-zoom-#{$i} {
      $width-value: 120 + $i * 48px;
      grid-template-columns: repeat(auto-fill, minmax(#{$width-value}, 1fr));
    }
  }

  transform-origin: 0 0;
  display: grid;
  grid-gap: 10px;
  column-gap: 14px !important;
  grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
  grid-auto-rows: 0;

  &-free {
    min-height: 70vh;
    justify-content: center;
  }

  &-collection {
    justify-content: center;
  }

  &-vertical {
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 0;
  }

  &-horizontal {
    min-height: 20vh;
    max-height: 40vh;
    width: 200vh;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    gap: 10px;
    grid-template-columns: unset;
    display:flex;
  }
  @include paddingY(15px);
  @include paddingX(15px);
  &-scrollable {
    overflow-y: scroll;
    height: 55vh;
  }
}
