.file-viewer{
  max-height: 50vh;
  //min-width: 30vw;
  overflow-y: auto;
  & .controls__navbar{
    gap: 1vw;
  }
  button {
    border: none;
    box-shadow: none;
    color: $magneto-orange !important;
    background: $magneto-lighter-grey !important;
  }

}
