.file-viewer{
  max-height: 50vh;
  height: 100%;
  & .controls__navbar{
    gap: 1vw;
  }
  &-file-name-ellipsis{
    @include noTextOverflow(1);
  }
  button {
    border: none;
    box-shadow: none;
    color: $magneto-orange !important;
    background: $magneto-lighter-grey !important;
  }

  //& .file {
  //  max-height: 30vh;
  //  @media screen and (max-width: $magneto-screen-mobile) {
  //    max-height: 25vh !important
  //  }
  //  overflow: auto;
  //  padding-bottom: 0%;
  //}
  .file {
    max-height: fit-content;
  }

  .pdf-viewer {
    max-height: 32vh;
    max-width: 97%;
    padding: 1%;
    overflow: auto;
    .render{
      max-height: 90%;
    }
  }
  .csv-viewer > .render {
    max-height: 30vh;
  }

  .render {
    max-height: 30vh;
  }
}

.csv-viewer {
  & .pagination__area{
    position: sticky;
    right: 0;
    margin-top: 0;
  }
  & .render {
    @media screen and (max-width: $magneto-screen-mobile) {
      max-height: 25vh !important
    }
    max-height: 28vh;
    overflow: auto;
  }
}