.sections-listDirective {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: min-content;


  i.magneto-card-settings {
    font-size: 25px;
    right: 5px;
  }

  &-container-horizontal,
  &-container-vertical {
    display: flex;
    overflow: hidden;
  }

  &-container-vertical {
    flex-shrink: 1;
    flex-basis: 0;
  }

  &-container-horizontal {
    flex-direction: column;
  }


  &-horizontal {
    flex-direction: column;
  }

  &-content {
    flex: 1;

    &-horizontal {
      overflow-y: unset;
      height: 100% !important;
    }

    display: flex;
    flex-direction: column;

    @include mobile {
      min-width: 80vw;
    }

    @include tablet {
      min-width: 50vw;
    }

    @include small-desktop {
      min-width: 33vw;
    }

    @include medium-desktop {
      min-width: 25vw;
    }

    @include large-desktop {
      min-width: 20vw;
    }


    &-container {
      padding: 10px;
      margin-top: 10px;
      background-color: #fff;
      border-radius: 50px;
      display: flex;
      width: 85%;
      height: auto;
      position: relative;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      cursor: move !important;
    }

    &-container:focus-within {
      border-bottom: 1px solid #ff8500;
    }

    &-title {
      width: 85%;
      align-self: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;

      &.input {
        outline: none;
        box-shadow: none;
        border-bottom: none !important;
        margin-bottom: 1px !important;
        margin-top: 0 !important;
      }

      &-margin {
        margin: auto !important;
        margin-top: 10px !important;
      }

      &-truncate {
        margin: auto;
        width: 75%;
        @include noTextOverflow(1);
      }
    }
  }

  &-content-vertical:not(:first-child) {
    border-left: solid 2px rgba(211, 211, 211, .5);
  }
}

.notDraggable {
  &-item {
    cursor: default;
  }
}

.move {
  cursor: move;
}
