<div class="card-comment">
    <div class="card-comment-infos">

        <div class="card-comment-infos-header twelve cell">
            <div class="card-comment-infos-header-user ten cell">
                <img class="card-comment-infos-header-user-avatar" ng-src="/userbook/avatar/[[vm.comment.ownerId]]?thumbnail=48x48"/>
                <div class="card-comment-infos-header-user-infos">
                    <span class="card-comment-infos-header-user-infos-name" ng-bind="vm.comment.ownerName"></span>
                    <span class="card-comment-infos-header-user-infos-date"
                          tooltip="[[vm.formatDate(vm.comment.modificationDate)]]">
                    [[vm.formatDateModification(vm.comment.modificationDate)]]
                    </span>
                </div>


            </div>
            <i ng-if="vm.isMyComment() || vm.canDeleteComment()"
               class="magneto-card-settings two cell"
               data-ng-click="vm.openCommentOptions(); $event.stopPropagation();">
            </i>
            <card-list-item-options
                    ng-show="vm.isDisplayedCommentOptions"
                    options="vm.comment"
                    has-edit="vm.isMyComment()"
                    on-edit="vm.openEdit"
                    has-delete="vm.canDeleteComment()"
                    on-delete="vm.openDelete">
            </card-list-item-options>
        </div>
    </div>
    <div class="card-comment-content" ng-if="!vm.isUpdateComment">
        [[vm.comment.content]]
    </div>
    <div class="card-comment-content" ng-if="vm.isUpdateComment">
        <input type="text"
               ng-model="vm.updateCommentContent"
               ng-keyup="vm.updateComment($event)">
    </div>
    <!-- Comment deletion modal -->
    <comment-delete-lightbox
            display="vm.displayDeleteCommentLightbox"
            on-submit="vm.onDeleteFormSubmit"
            card-id="vm.cardId"
            comment-id="vm.comment._id">
    </comment-delete-lightbox>
</div>