.gridSidebar {
  padding: ".8rem";
  border-right: var(--edifice-border-width) var(--edifice-border-style)
    var(--edifice-border-color) !important;
  @media (max-width: 1024px) {
    display: none;
  }
}
.search-bar-wrapper {
  box-sizing: border-box;
  background: #fafafa;
  padding: 2rem 11rem;
  margin: -0.8rem -4rem 0 -3.2rem;
}

.main-grid {
  flex-grow: 1;
}

#media-library-magneto #media-library_ref {
  max-height: fit-content;
}
.action-container .py-8[role="button"][aria-label="Ouvrir / Fermer"],
.action-container .py-8.invisible[role="button"][aria-label="Ouvrir / Fermer"] {
  width: 16px;
  display: block;
}
