@import "../../styles/_colors.scss";

.side-menu {
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 8rem;
  height: 100vh;
  background-color: $magneto-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 55;

  &.open {
    transform: translateX(0);
  }

  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    align-self: end;

    a {
      width: 100%;
      color: $magneto-dark-grey;
    }

    .items-divider {
      border-top: 1px #000000;
      border-top-style: ridge;
      align-self: center;
      width: 56px;
      padding: 0;
      margin: 0 0 2.5vh 0 !important;
    }

    :last-child {
      margin-bottom: 1.25vh;
    }

    :last-child {
      margin-top: 0.5vh;
      margin-bottom: 1vh;
    }
  }
}

.header {
  position: relative;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  .menu {
    transform: translateX(0);
  }
}
