.treeview {
  //temporary if Edifice fixes
  li[role="treeitem"]:has(> div > ul:empty) .action-container svg {
    display: none;
  }
  .action-container [role="button"][aria-label="foldUnfold"] {
    font-size: 0;
    color: transparent;

    &::before,
    &::after {
      display: none !important;
    }

    svg {
      pointer-events: none;
    }
    svg * {
      font-size: initial;
      color: initial;
    }
  }
  .drag-over {
    border: solid #e4e4e4;
    border-radius: 0.8rem;
  }
}
