.treeview {
  li[role="treeitem"] {
    .action-container {
      flex-wrap: nowrap;
      .d-flex {
        flex-wrap: nowrap;
      }
    }
  }
  #listitem_public-boards {
    flex-wrap: nowrap;
    .null {
      margin-left: 1.63rem;
    }
  }
}
