.no-drag-over {
  border: solid transparent;
  border-radius: 0.8rem;
}

.empty-folder {
  .treeview {
    li[role="treeitem"] {
      @extend .no-drag-over;
      .action-container {
        @extend .no-drag-over;
        flex-wrap: nowrap;
        .d-flex {
          flex-wrap: nowrap;
        }
      }
    }
    #listitem_public-boards,
    #listitem_deleted-boards,
    #listitem_my-boards {
      flex-wrap: nowrap;
      .null {
        margin-left: 1.63rem;
      }
    }
  }
}
.treeview {
  li[role="treeitem"] {
    @extend .no-drag-over;
    .action-container {
      @extend .no-drag-over;
      flex-wrap: nowrap;
      .d-flex {
        flex-wrap: nowrap;
      }
      .py-8 {
        padding-top: 0.2rem !important;
        padding-bottom: 0.2rem !important;
      }
    }
  }
}
