@import "../../styles/_colors.scss";

.zoom {
  background-color: $magneto-grey;
  color: $magneto-white;
  border-radius: 32px;
  padding: 8px;
  right: 45%;
  bottom: 1em;
  z-index: 2;
  display: inline-flex;
  width: auto;
  justify-content: space-evenly;
  height: 4.2rem;

  &-plus {
    font-size: 32px;
    padding-left: 0.1em;
    &-disabled {
      color: $magneto-light-grey;
    }
  }
  &-minus {
    padding-right: 0.1em;
    font-size: 32px;
    &-disabled {
      color: $magneto-light-grey;
    }
  }
  &-label {
    margin: 0 0.75em;
  }

  &-line1 {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 1.5rem;
  }

  &-line2 {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 1.5rem;
  }
}
