i {
  &.magneto-magnet::before {
    font-family: 'material-icons';
    content: '\F347';
  }

  &.magneto-calendar::before {
    font-family: 'material-icons';
    content: '\F0EE';
  }

  &.magneto-sort-alphabetical::before {
    font-family: 'material-icons';
    content: '\F4BB';
  }

  &.magneto-filter::before {
    font-family: 'material-icons';
    content: '\F232';
  }

  &.magneto-view-list::before {
    font-family: 'material-icons';
    content: '\F572';
  }

  &.magneto-view-module::before {
    font-family: 'material-icons';
    content: '\F573';
  }

  &.magneto-folder::before {
    font-family: 'material-icons';
    content: '\F24B';
  }

  &.magneto-folder-plus::before {
    font-family: 'material-icons';
    content: '\F257';
  }

  &.magneto-check-decagram::before {
    font-family: 'material-icons';
    content: '\F790';
  }

  &.magneto-share-variant::before {
    font-family: 'material-icons';
    content: '\F497';
  }

  &.magneto-delete-forever::before {
    font-family: 'material-icons';
    content: '\F5E8';
  }

  &.magneto-chevron-right::before {
    font-family: 'material-icons';
    content: '\F142';
  }

  &.magneto-chevron-down::before {
    font-family: 'material-icons';
    content: '\F140'
  }

  &.magneto-book-variant-multiple::before {
    font-family: 'material-icons';
    content: '\F0BC';
  }

  &.magneto-magnify::before {
    font-family: 'material-icons';
    content: '\F349';
  }

  &.magneto-folder-open::before {
    font-family: 'material-icons';
    content: '\F76F';
  }



}