.lightbox {
  z-index: 100030;
  height: auto;

  .content {
    padding: 0;
  }

  .close-lightbox {
    color: $magneto-white;
  }

  section.head {
    padding: 1px 15px !important;
    border-radius: 5px 5px 0 0;

    h1, h2, h3, h4, h5, h6 {
      color: $magneto-black;
    }
  }

  section.body {
    padding: 8px 20px;
  }
}