.boards-container {

  &-header {
    background: $magneto-white;
    padding: $spacing-L;
    h1 {
      font-family: $magneto-font-secondary;
      color: $magneto-yellow-ochre;
      margin-bottom: 0;

      .application-logo {
        width: 36px;
        margin-right: $spacing-XLXS;
      }
    }
  }

  &-body {
    display: flex;
    border-top: solid 1px $magneto-white-blue;
    border-bottom: solid 1px $magneto-white-blue;
    background: $magneto-white;

    &-nav {
      min-height: 550px;
      border-right: solid 1px $magneto-white-blue;
    }

    &-search {
      border-bottom: solid 1px $magneto-white-blue;
      display: block;
      padding: $spacing-L;
    }

    .list-header {

      padding: 20px 20px 0 20px;

      .folder-name {
        font-size: 20px;
      }
    }

    &-folder-button {
      width: 66%;
      margin: 14px auto auto;

      a {
        border: solid $magneto-blue 1px;
        border-radius: 5px;
        background: none !important;
        padding: $spacing-LXS $spacing-L;
      }
    }

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 26%;
      }

      i18n {
        padding: $spacing-L;
      }

    }

  }
}