.boardContainer-read-container {


  display: flex;
  background: $magneto-white;
  min-height: calc(100vh - 124px);
  //max-height: 82vh;
  width: 70%;
  @media screen and (max-width: 1075px) {
    width: 85% !important;
  }
  @include mobile {
    width: 100% ! important;
  }
  @media screen and (max-width: 950px) {
    width: 100% !important;
  }

  margin-left: auto;
  margin-right: auto;


  .return-button {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
  }

  .nav-right {
    font-size: 70px;
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 1;
    color: $magneto-black;

    &:before {
      background-color: $magneto-white;
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  .nav-left {
    font-size: 70px;
    position: fixed;
    top: 50%;
    left: 20px;
    z-index: 1;
    color: $magneto-black;

    &:before {
      background-color: $magneto-white;
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  .button-icon {
    font-size: 24px;
  }

  .nav-container {
    background-color: #f1f5f8;
    width: 60%;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: 0 3px 12px rgb(0 0 0 / 25%);
    line-height: 5vh;
    padding: 16px;
  }

  .section-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .file-viewer {
      margin: 0;
      max-height: calc(80vh - 150px);

      .pdf-viewer {
        max-height: calc(58vh - 145px);
      }
    }
  }

  .li-container {
    position: relative;
    font-size: 24px;
    font-weight: bold;
  }

  .truncate {
    width: 90%;
    @include noTextOverflow(1);
    font-size: 14px;
    &:hover {
      color: #ecbe30 !important;
    }
  }

  .show-section {
    position: absolute;
    top: 0;
    right: 0;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


}
