.boards-container {

  &-header {

  }

  &-header-search {
    display: flex;
  }

  &-body {
    display: flex;

    .list-header {
      .folder-name {
        font-size: 28px;
      }

      .board-list-filters {
        display: flex;
        font-size: 28px;

        &-display-mode {
          display: flex;
          margin-left: 10px;
        }
      }
    }

    &-folder-button {
      width: 66%;
      margin: 14px auto auto;

      a {
        border: solid $magneto-blue 1px;
        border-radius: 5px;
        background: none !important;
        padding: 8px 24px;
      }
    }

  }


}