.board-container {

  &-header {
    background: $magneto-white;
    left: $spacing-L;
    padding: $spacing-L;
    z-index: 2;
    @include noTextOverflow(1);
    h1 {
      font-family: $magneto-font-secondary;
      color: $magneto-yellow-ochre;
      margin-bottom: 0;

      .application-logo {
        width: 36px;
        margin-right: $spacing-XLXS;
      }
    }

    &-date {
      margin-right: $spacing-XM;
      margin-top: 5px;
    }

    &-description {
      height: 64px;
      overflow-y: scroll;
    }
  }

  &-body {
    display: flex;
    border-top: solid 1px $magneto-white-blue;
    border-bottom: solid 1px $magneto-white-blue;
    background: $magneto-lighter-grey;
    position: absolute;

    &-list {
      min-height: 650px;

      .empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12%;

        i18n {
          padding: $spacing-L;
        }

        i.magneto-arrow-left {
          font-size: 100px;
          padding: $spacing-L;
        }

      }
    }

    embedder {
      z-index: 99999;
    }
  }
}