<div ng-controller="BoardViewController as vm" class="boardContainer-container">


    <!-- Header desktop -->
    <div class="row boardContainer-container-header">
        <div class="flex boardContainer-container-header-content">
            <div class="cell boardContainer-container-header-title">
                <h1 ng-click="vm.goToBoards()" class="cell paddingRight" tooltip="[[vm.board.title]]">
                    <img class="application-logo" ng-src="/magneto/public/img/uni-magneto.png"
                         alt="" src="/magneto/public/img/uni-magneto.png">
                    <i18n>magneto.title</i18n>
                    / [[vm.board.title]]
                </h1>
            </div>
            <div class="flex boardContainer-container-header-content-options">
                <div class="cell right-magnet boardContainer-container-header-date">
                    <board-date date="vm.board.modificationDate"></board-date>
                </div>
                <button ng-if="vm.board.isLayoutFree() ? vm.cards.length > 0 : vm.board.hasCardsSection()" class="right-magnet create-button" ng-click="vm.openReading()">
                    <i18n>magneto.reading.board</i18n>
                </button>
            </div>
        </div>
        <div class="boardContainer-container-header-desc">
            <div ng-if="!!vm.board.description" class="boardContainer-container-header-description twelve cell"><span id="description">[[vm.board.description]]</span></div>
            <div class="boardContainer-container-header-degrade twelve" ng-if="vm.showReadMoreLink"></div>
        </div>
        <board-description-lightbox
                board="vm.board"
                show-read-more-link="vm.showReadMoreLink"
                board-description-eventer="vm.boardDescriptionEventer"
        >
        </board-description-lightbox>
    </div>

    <!-- Header mobile -->
    <div class="row boardContainer-container-header-mobile">
        <div class="row">
            <div class="cell boardContainer-container-header-mobile-title">
                <h1 ng-click="vm.goToBoards()" class="cell paddingRight" tooltip="[[vm.board.title]]">
                    <img class="application-logo" ng-src="/magneto/public/img/uni-magneto.png"
                         alt="" src="/magneto/public/img/uni-magneto.png">
                    <i18n>magneto.title</i18n>
                    / [[vm.board.title]]
                </h1>
            </div>
            <button ng-if="vm.board.isLayoutFree() ? vm.cards.length > 0 : vm.board.hasCardsSection()"
                    class="cell create-button"
                    ng-click="vm.openReading()">
                <i18n>magneto.reading.board</i18n>
            </button>
        </div>
        <div ng-if="!!vm.board.description" class="boardContainer-container-header-mobile-description"><span id="description-mobile">[[vm.board.description]]</span></div>
        <board-description-lightbox
                board="vm.board"
                show-read-more-link="vm.showReadMoreLink"
                board-description-eventer="vm.boardDescriptionEventer"
        >
        </board-description-lightbox>
    </div>

    <div class="twelve cell boardContainer-container-body"
         ng-class="{'no-background-image': !vm.board.backgroundUrl }"
         ng-style="{'background-image': vm.board.backgroundUrl ? 'url(' + vm.board.backgroundUrl + ')' : 'none'}">
        <div class="cell boardContainer-container-body-nav">
            <board-nav
                    ng-if="vm.board.myRights.publish"
                    on-create="vm.openAddResourceLightbox"
                    on-properties="vm.openBoardPropertiesForm"
                    has-properties="vm.board.myRights.manager">
            </board-nav>
        </div>

        <div class="cell boardContainer-container-body-list scrollbar">
            <dropzone-overlay on-import="vm.draggable.dragDropFilesHandler($event)" can-drop="vm.board.myRights.publish !== undefined"
                              ng-if="vm.isDraggable">
            </dropzone-overlay>
            <div class="empty-state" ng-if="vm.cards.length == 0 && vm.board.isLayoutFree()"
                 ng-show="!vm.isLoading">
                <i18n>magneto.add.content.from.menu</i18n>
                <i class="magneto-arrow-left"></i>
            </div>
            <card-list
                    ng-if="vm.board.id && !vm.isLoading && vm.board.isLayoutFree() && vm.cardUpdateSubject"
                    layout="vm.board.layoutType"
                    selector-identifier="'card-list'"
                    is-draggable="vm.isDraggable"
                    is-sortable="vm.board.myRights.publish !== undefined"
                    has-caption="true"
                    cards="vm.cards"
                    on-move="vm.getBoard"
                    board-display="false"
                    board-right="vm.board.myRights"
                    has-edit="vm.board.myRights.publish !== undefined"
                    on-edit="vm.openEditResourceLightbox"
                    has-duplicate="vm.board.myRights.contrib !== undefined"
                    on-duplicate="vm.openTransferDuplicateResourceLightbox"
                    has-delete="vm.board.myRights.manager !== undefined"
                    on-delete="vm.openDeleteResourceLightbox"
                    has-preview="vm.board.myRights.read !== undefined || vm.board.public"
                    on-preview="vm.openPreviewResourceLightbox"
                    has-lock="vm.board.myRights.publish !== undefined"
                    on-lock="vm.openLockResource"
                    has-transfer="vm.board.myRights.publish != undefined"
                    on-transfer="vm.openTransferResourceLightbox"
                    card-update-eventer="vm.cardUpdateSubject"
                    has-comments="vm.board.canComment"
                    board-owner="vm.board.owner"
                    has-favorite="true"
                    display-favorite="vm.board.displayNbFavorites"
            >
            </card-list>
            <section-list
                    ng-if="!!vm.board.layoutType && !vm.board.isLayoutFree()"
                    board="vm.board"
                    on-drag="vm.initDrag"
                    on-move="vm.getBoard"
                    on-edit="vm.openEditResourceLightbox"
                    on-duplicate="vm.openTransferDuplicateResourceLightbox"
                    on-delete="vm.openDeleteResourceLightbox"
                    on-preview="vm.openPreviewResourceLightbox"
                    on-transfer="vm.openTransferResourceLightbox"
                    on-submit="vm.onFormSubmit"
                    on-lock="vm.openLockResource"
                    card-update-eventer="vm.cardUpdateSubject">
            </section-list>
            <div ng-show="vm.isLoading" class="centered-text">
                <loader min-height="'250px'"></loader>
            </div>
        </div>

        <card-manage-lightbox
                ng-if="vm.displayCardLightbox"
                display="vm.displayCardLightbox"
                is-update="vm.displayUpdateCardLightbox"
                form="vm.cardForm"
                board="vm.board"
                on-submit="vm.onFormSubmit">
        </card-manage-lightbox>

        <card-move-lightbox
                ng-if="vm.displayTransferCardLightbox"
                display="vm.displayTransferCardLightbox"
                form="vm.cardForm"
                board-id="vm.filter.boardId"
                on-submit="vm.onFormSubmit">
        </card-move-lightbox>

        <card-duplicate-move-lightbox
                ng-if="vm.displayTransferDuplicateCardLightbox"
                display="vm.displayTransferDuplicateCardLightbox"
                form="vm.cardForm"
                board-id="vm.filter.boardId"
                on-submit="vm.onFormSubmit">
        </card-duplicate-move-lightbox>

        <!-- Card deletion modal -->
        <card-delete-lightbox
                display="vm.displayDeleteCardLightbox"
                on-submit="vm.onFormSubmit"
                board-id="vm.selectedCard.boardId"
                card-ids="[vm.selectedCard._id]">
        </card-delete-lightbox>

        <!-- Board properties modal -->
        <board-manage-lightbox
                display="vm.displayBoardPropertiesLightbox"
                on-submit="vm.onBoardFormSubmit"
                is-update="true"
                form="vm.boardForm"
                folder-id="vm.boardForm.folderId">
        </board-manage-lightbox>

        <media-library-lightbox
                display="vm.displayMediaLibraryLightbox"
                file-format="vm.getMediaLibraryFileFormat()"
                on-submit="vm.onFileSelected">
        </media-library-lightbox>

        <!-- Media Library for sound only -->
        <media-library-lightbox
                display="vm.displayAudioMediaLibraryLightbox"
                file-format="'audio'"
                on-submit="vm.onFileSelected">
        </media-library-lightbox>

        <embedder file-format="'video'"
                  hidden-share-video-code="false"
                  ng-model="vm.videoUrl"
                  ng-change="vm.onVideoSelected()"
                  ng-if="vm.displayVideoResourceLightbox"
                  show="vm.displayVideoResourceLightbox">
        </embedder>

        <linker display="vm.displayLinkerLightbox"
                on-submit="vm.onLinkSubmit">
        </linker>

        <card-collection
                ng-if="vm.displayCollectionLightbox"
                display="vm.displayCollectionLightbox"
                board="vm.board"
                navbar-first-selected="vm.COLLECTION_NAVBAR_VIEWS.MY_CARDS"
                navbar="vm.navbarCollection"
                is-home="false"
                on-submit="vm.onFormSubmit">
        </card-collection>

        <card-preview-lightbox
                card="vm.selectedCard"
                display="vm.displayPreviewCardLightbox"
                show-comments="vm.board.canComment"
                board-owner="vm.board.owner">
        </card-preview-lightbox>

        <infinite-scroll ng-if="vm.board.isLayoutFree()"
                         scrolled="vm.onScroll()"
                         loading-mode="true"
                         scroll-eventer="vm.infiniteScrollService">
        </infinite-scroll>
    </div>
</div>