<div ng-controller="BoardsController as vm" class="boards-container">
    <div class="row boards-container-header">
        <h1 class="cell paddingRight">
            <i18n>magneto.title</i18n>
        </h1>
        <button class="right-magnet create-button" ng-click="vm.openCreateForm()">
            <i18n>magneto.create.board</i18n>
        </button>
    </div>
    <div class="row boards-container-header-search">
        <h2 class="cell six">
            <i18n>magneto.my.boards</i18n>
        </h2>

        <div class="cell six">
            <board-search-bar
                    search-text="vm.filter.searchText"
                    on-search="vm.onSearchBoard">
            </board-search-bar>
        </div>

    </div>
    <div class="twelve cell boards-container-body">
        <div class="three cell">
            <folder-tree-nav
                    folder-trees="vm.folderNavTrees"
                    folder-tree-eventer="vm.folderNavTreeSubject"
                    on-select-folder="vm.switchFolder">
            </folder-tree-nav>
            <div class="boards-container-body-folder-button"
                 ng-click="vm.displayFolderLightbox = true">
                <a class="classic-link">
                    <i class="magneto-folder-plus"></i>
                    <i18n>magneto.create.folder</i18n>
                </a>
            </div>
        </div>

        <div class="nine cell">

            <div class="list-header row">
                <!--Folder name-->
                <div class="folder-name">
                    <i class="magneto-folder"></i>
                    <span ng-if="vm.openedFolder == null && !vm.filter.isPublic && !vm.filter.isTrash">
                        <i18n>magneto.my.boards</i18n>
                    </span>
                    <span ng-if="vm.openedFolder == null && vm.filter.isPublic">
                        <i18n>magneto.lycee.connecte.boards</i18n>
                    </span>
                    <span ng-if="vm.openedFolder == null && vm.filter.isTrash">
                        <i18n>magneto.trash</i18n>
                    </span>
                    <span ng-if="vm.openedFolder != null">[[vm.openedFolder.title]]</span>
                </div>
                <div class="board-list-filters right-magnet">
<!--                    <i class="magneto-filter"></i>-->
<!--                    <i class="magneto-sort-alphabetical"></i>-->
<!--                    <div class="board-list-filters-display-mode">-->
<!--                        <i class="magneto-view-module"></i>-->
<!--                        <i class="magneto-view-list"></i>-->
<!--                    </div>-->
                </div>
            </div>

            <board-list
                    boards="vm.boards"
                    folders="vm.currentFolderChildren"
                    categories-eventer="vm.boardCategoriesService"
                    selected-board-ids="vm.selectedBoardIds"
                    selected-folder-ids="vm.selectedFolderIds"
                    selected-update-board-form="vm.selectedUpdateBoardForm"
                    on-open="vm.openBoardOrFolder">
            </board-list>
        </div>
    </div>

    <!-- Board deletion modal -->
    <board-delete-lightbox
            display="vm.displayDeleteBoardLightbox"
            on-submit="vm.onFormSubmit"
            is-predelete="!vm.filter.isTrash"
            board-ids="vm.selectedBoardIds">
    </board-delete-lightbox>

    <!-- Board creation modal -->
    <board-manage-lightbox
            display="vm.displayBoardLightbox"
            on-submit="vm.onFormSubmit"
            is-update="vm.displayUpdateBoardLightbox"
            form="vm.selectedUpdateBoardForm">
    </board-manage-lightbox>

    <!-- Board move model -->
    <board-move-lightbox
            folder-trees="vm.folderMoveNavTrees"
            display="vm.displayMoveBoardLightbox"
            on-submit="vm.onFormSubmit"
            board-ids="vm.selectedBoardIds">
    </board-move-lightbox>

    <folder-manage-lightbox
            display="vm.displayFolderLightbox"
            parent-id="vm.openedFolder.id"
            on-submit="vm.submitFolderForm"
            on-folder-form-submit="vm.getFolders">
    </folder-manage-lightbox>

    <infinite-scroll scrolled="vm.onScroll()"
                     loading-mode="true"
                     scroll-eventer="vm.infiniteScrollService">
    </infinite-scroll>

    <toaster
            display="vm.selectedBoardIds.length > 0 || vm.selectedFolderIds.length > 0"
            has-open="(vm.selectedFolderIds.length == 1 || vm.selectedBoardIds.length == 1) && vm.selectedFolderIds.length + vm.selectedBoardIds.length == 1"
            on-open="vm.openBoardOrFolder"
            has-properties="!vm.filter.isPublic && !vm.filter.isTrash && vm.selectedBoardIds.length == 1 && vm.selectedFolderIds.length == 0"
            on-properties="vm.openPropertiesForm"
            has-delete="!vm.filter.isPublic && vm.selectedFolderIds.length == 0 && vm.selectedBoardIds.length > 0"
            on-delete="vm.openDeleteForm"
            has-share="false"
            has-restore="vm.filter.isTrash"
            on-restore="vm.restoreBoards"
            has-move="!vm.filter.isPublic && !vm.filter.isTrash && vm.selectedFolderIds.length == 0 && vm.selectedBoardIds.length > 0"
            on-move="vm.moveBoards">
    </toaster>
</div>