<div>
    <div ng-if="showTabs()" class="pagination__area flex-row align-center justify-center">
        <div class="file-controls left" ng-click="previousPage(e)"><i class="left"></i></div>
        <div class="pagination">
            [[nameTab()]] <input type="text" ng-model="pageIndex"/> / [[numPages()]]
        </div>
        <div class="file-controls right" ng-click="nextPage(e)"><i class="right"></i></div>
    </div>
    <div class="render">
        <p ng-if="loading" class="top-spacing-four flex-row align-start justify-center centered-text">
            <i18n>workspace.preview.loading</i18n>&nbsp;<i class="loading"></i></p>
        <table ng-if="showContent()">
            <tbody>
            <tr ng-repeat="row in currentTab.rows">
                <td ng-repeat="colIndex in currentTab.colIndexes">[[getValue(row, colIndex)]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>