<div class="card boardDirective-list-item flex-row f-column"
     ng-class="{'active': vm.isSelected}">
    <!--Board image-->
    <div class="boardDirective-list-item-image flex-row justify-center">
        <img ng-src="[[vm.board.imageUrl]]">
    </div>
    <!--Board infos-->
    <div class="boardDirective-list-item-infos flex-row">
        <!--Board title-->
        <div>
            <span class="boardDirective-list-item-infos-title" tooltip="[[vm.board.title]]">[[vm.board.title]]</span>
        </div>

        <!--Board nb of magnets-->
        <div class="boardDirective-list-item-infos-nb-cards">
            <i class="magneto-magnet"></i>
            <span ng-if="vm.getNbCards() != 1"><b>[[vm.getNbCards()]]</b>&nbsp;<i18n>magneto.magnets</i18n></span>
            <span ng-if="vm.getNbCards() == 1"><b>[[vm.getNbCards()]]</b>&nbsp;<i18n>magneto.magnet</i18n></span>
        </div>
        <div class="boardDirective-list-item-infos-date-icons">
            <div class="infos-date">
                <i class="magneto-calendar" tooltip="magneto.board.date.update"></i> [[vm.formatDate(vm.board.modificationDate)]]
            </div>
            <div class="infos-icons">
                <i class="magneto-crown" tooltip="magneto.board.tooltip.my.board" ng-if="vm.board.isMyBoard()"></i>
                <i class="magneto-user" tooltip="[[vm.getSharedOwner()]]"
                   ng-if="!vm.board.isMyBoard() && vm.board.shared !== undefined"></i>
                <i class="magneto-share-variant" tooltip="magneto.board.tooltip.shared.board"
                   ng-if="vm.board.shared !== undefined"></i>
                <i class="magneto-earth" tooltip="magneto.board.tooltip.public.board" ng-if="vm.board.public"></i>
            </div>
        </div>
    </div>

</div>