@import "../../styles/_colors.scss";

.zoom-container {
  align-self: center;
  bottom: 3rem;
  position: fixed;
  z-index: 2;
}

header.header:has(+ main.container-fluid) {
  position: fixed;
  width: 100%;
}

main.container-fluid {
  padding: unset !important;
  width: 100%;
  margin-left: 8.1rem;
  max-width: 93%;
}

.no-background-image {
  position: absolute;
  background: $magneto-lighter-light-grey;
  width: 100%;
  min-height: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0 !important;
}

.cards-empty-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $magneto-dark-grey;
  text-align: center;
  width: max-content;
  max-width: 80%;

  &-message {
    padding: $spacing-L;
  }
}
