@import "../../styles/_colors.scss";

.zoom-container {
  align-self: center;
  bottom: 1em;
  position: fixed;
}

header.header:has(+ main.container-fluid) {
  position: fixed;
  width: 100%;
}

main.container-fluid:has(.board-body) {
  padding: unset !important;
  width: 100%;
  margin-left: 8.1rem;
  max-width: 93%;
}

.board-body {
  display: flex;
  border-top: solid 1px $magneto-white-blue;
  border-bottom: solid 1px $magneto-white-blue;
  background-size: cover;
  width: 100%;

  .no-background-image {
    background: $magneto-lighter-light-grey;
    width: 100%;
    min-height: 100rem;
  }

  .background-image {
    width: 100%;
  }

  .cards-empty-state {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12.5% 36%;
    color: $magneto-dark-grey;

    &-message {
      padding: $spacing-L;
    }
  }
}
