<div class="board-nav">
    <nav role="navigation" aria-label="main navigation">
        <div class="nav">
            <div class="items">
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.TEXT)">
                    <i class="magneto-text" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.text</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.IMAGE)">
                    <i class="magneto-image" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.image</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.VIDEO)">
                    <i class="magneto-video" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.video</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.AUDIO)">
                    <i class="magneto-audio" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.audio</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.FILE)">
                    <i class="magneto-file" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.file</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.LINK)">
                    <i class="magneto-link" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.link</i18n>
                    </span>
                </a>
                <a role="menuitem" class="item"
                   data-ng-click="vm.openCreateCard(vm.resourceTypes.CARD)">
                    <i class="magneto-card" aria-hidden="true"></i>
                    <span class="label-navbar">
                        <i18n>magneto.card.type.card</i18n>
                    </span>
                </a>
                <!-- Board properties button -->
                <div ng-if="vm.hasProperties">
                    <hr class="items-divider">
                    <a role="menuitem" class="item" data-ng-click="vm.openBoardProperties()">
                        <i class="magneto-settings" aria-hidden="true"></i>
                    </a>
                </div>

            </div>
        </div>
    </nav>
</div>