<lightbox class="cardDirective-collection-lightbox"
          show="vm.display"
          id="collection"
          on-close="vm.closeForm()">
    <section class="head cardDirective-collection-lightbox-head">
        <h3>
            <i18n>magneto.cards.collection</i18n>
        </h3>
    </section>
    <section class="body cardDirective-collection-lightbox-body">
        <div class="row cardDirective-collection-lightbox-body-search">
            <search-bar
                    search-text="vm.filter.searchText"
                    is-loading="vm.isLoading"
                    on-search="vm.onSearchCard()">
            </search-bar>
        </div>
        <card-navbar
                navbar-view-selected="vm.navbarViewSelected"
                on-nav-click="vm.changeNav">
        </card-navbar>
        <div>
            <switch ng-change="vm.changeView()" ng-model="vm.displayBoard">
                <label class="switch"></label>
            </switch>
            <span><i18n>magneto.cards.collection.board.view</i18n></span>
        </div>
        <div class="cardDirective-list-scrollable"
             ng-show="vm.cards.length > 0 && !vm.isLoading">
            <div ng-show="vm.displayBoard" ng-repeat="collection in vm.displayedCard">
                <div class="cardDirective-collection-lightbox-board">
                    <span class="cardDirective-collection-lightbox-board-title">[[collection.cards[0].boardTitle]]</span>
                    <span class="cardDirective-collection-lightbox-board-cards"
                          ng-click="vm.submitDuplicateBoard(collection.boardId)"
                          ng-show="vm.displayBoard">
                        <i class="magneto-duplicate"></i>
                        <i18n>magneto.cards.collection.board.duplicate</i18n></span>
                    <span class="cardDirective-collection-lightbox-board-cards"
                          ng-click="vm.getCardsByBoardId(collection.boardId)"
                          ng-show="!!vm.filter.searchText && !collection.isLinkedCardsDisplay">
                          <i class="magneto-show"></i>
                        <i18n>magneto.cards.collection.board.cards.show</i18n></span>
                    <span class="cardDirective-collection-lightbox-board-cards"
                          ng-click="vm.hideCardsByBoardId(collection.boardId)"
                          ng-show="!!vm.filter.searchText && collection.isLinkedCardsDisplay">
                        <i class="magneto-hide"></i>
                        <i18n>magneto.cards.collection.board.cards.hide</i18n></span>
                </div>
                <card-list
                        cards="collection.cards"
                        selector-identifier="card-list"
                        selected-card-ids="vm.selectedCardIds"
                        selector-identifier="'card-list'"
                        has-caption="false"
                        has-duplicate="vm.board.myRights.contrib !== undefined"
                        on-duplicate="vm.submitDuplicateCard"
                        has-preview="true"
                        selector-resize="'.cardDirective-list-scrollable'"
                        on-preview="vm.openPreview">
                </card-list>
            </div>
            <card-list ng-hide="vm.displayBoard"
                       cards="vm.cards"
                       selector-identifier="card-list"
                       selected-card-ids="vm.selectedCardIds"
                       has-caption="false"
                       has-duplicate="true"
                       selector-resize="'.cardDirective-list-scrollable'"
                       on-duplicate="vm.submitDuplicateCard"
                       has-preview="true"
                       on-preview="vm.openPreview"
                       has-comments="false"
                       simple-view="true">
            </card-list>
        </div>
        <div class="empty-state"
             ng-show="!vm.isLoading"
             ng-if="vm.cards.length === 0">
            <img data-ng-src="/magneto/public/img/empty-state-magneto.svg" alt="empty boards">
            <i18n>magneto.cards.empty.text</i18n>
        </div>
        <div ng-show="vm.isLoading" class="centered-text">
            <loader min-height="'250px'"></loader>
        </div>
    </section>

    <card-preview-lightbox
            card="vm.selectedCard"
            display="vm.displayPreview"
            show-comments="'false'">
    </card-preview-lightbox>

    <infinite-scroll
            scrolled="vm.onScroll()"
            loading-mode="true"
            query-selector="'.cardDirective-list-scrollable'"
            scroll-eventer="vm.infiniteScrollService">
    </infinite-scroll>

    <button class="right-magnet create-button"
            data-ng-disabled="!vm.isFormValid()"
            ng-click="vm.submitDuplicateCard()">
        <i18n>magneto.duplicate</i18n>
    </button>
</lightbox>