<div class="card-item-comments">
    <hr class="divider">
    <div class="card-item-comments-counter" ng-if="vm.card.nbOfComments > 0">
        <i class="magneto-comment-outline" aria-hidden="true"></i>
        <span>[[vm.card.nbOfComments]]</span>
    </div>
    <div class="card-item-comments-last" ng-if="vm.card.lastComment">
        <card-comment
            card-id="vm.card.id"
            comment="vm.card.lastComment"
            on-delete="vm.onCommentDelete">
        </card-comment>
    </div>
    <div class="card-item-comments-content">
        <comment-input
                card-id="vm.card.id"
                on-submit="vm.onCommentSubmit">
        </comment-input>
    </div>
</div>