<lightbox class="section-delete-lightbox"
          show="vm.display"
          on-close="vm.display = false">
    <section class="head section-delete-lightbox-head">
        <h3>
            <i18n>magneto.delete.section</i18n>
        </h3>
    </section>

    <section class="body section-delete-lightbox-body">
        <div class="row vertical-spacing section-delete-lightbox-body-inputs">
            <i18n>magneto.delete.section.message</i18n>
            <div class="row">
                <input type="radio" ng-model="vm.deleteCard" ng-value="true"/>
                <label>
                    <i18n>magneto.yes</i18n>
                </label>
            </div>
            <div class="row">
                <input type="radio" ng-model="vm.deleteCard" ng-value="false"/>
                <label>
                    <i18n>magneto.no</i18n>
                </label>
            </div>
        </div>
    </section>
    <!-- Form submit/cancel buttons -->
    <section>
        <div class="row horizontal-spacing">
            <div class="twelve cell">
                <button class="right-magnet"
                        data-ng-click="vm.submitDelete()">
                    <i18n>magneto.delete</i18n>
                </button>
                <button class="right-magnet cancel"
                        data-ng-click="vm.closeForm()">
                    <i18n>magneto.cancel</i18n>
                </button>
            </div>
        </div>
    </section>
</lightbox>