.space05 {
    margin-bottom: 0.5em;
}

.space1 {
    margin-bottom: 1em;
}

.space1half {
    margin-bottom: 1.5em;
}

.space2 {
    margin-bottom: 2em;
}

.width2 {
    max-width: 50px !important;
    max-height: 50px !important;
}

.font-little {
    font-size: 1.4rem;
}

.font-red {
    margin-top: 0.3em;
    font-size: 1.15rem;
    color: red;
}

.but {
    float: right;
}

.ml-8 {
    margin-left: 0.25em;
    margin-top: 1.5em;
}

.mb-8 {
    margin-bottom: 2em;
}