.mb-0-5 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-1-5 {
  margin-bottom: 1.5em;
}

.font-little {
  font-size: 1.2rem;
}

.font-red {
  margin-top: 0.3em;
  font-size: 1.15rem;
  color: red;
}

.right {
  float: right;
}

.footer-button {
  margin-left: 0.25em;
  margin-top: 1.5em;
}