<lightbox class="cardDirective-manage-lightbox"
          show="vm.display"
          on-close="vm.closeForm()">
    <section class="head cardDirective-manage-lightbox-content-head">
        <h3 ng-if="!vm.isUpdate">
            <i18n>magneto.new.card</i18n>
        </h3>
        <h3 ng-if="vm.isUpdate">
            <i18n>magneto.edit.card</i18n>
        </h3>
    </section>
    <section class="body cardDirective-manage-lightbox-content-body">
        <div class="vertical-spacing cardDirective-manage-lightbox-content-body-resource">
            <!-- Image preview -->
            <div class="cell" ng-if="vm.form.resourceType == 'image'">
                <image-select ng-model="vm.form.resourceUrl"
                              default="/img/illustrations/collaborativeeditor-default.png">
                </image-select>
            </div>
            <!-- Video preview -->
            <div class="cell video-preview" ng-if="vm.form.resourceType == 'video'">

                    <!-- Preview for external video sources -->
                    <iframe ng-if="!vm.videoIsFromWorkspace()" id="video-preview"
                            width="302" height="170" data-ng-src="[[vm.formatVideoUrl(vm.form.resourceUrl)]]">
                    </iframe>
                    <!-- Preview for workspace video -->
                    <video controls ng-if="vm.videoIsFromWorkspace()"
                           data-ng-src="[[vm.form.resourceUrl]]">
                    </video>
                <div class="edit-container">
                    <i class="edit pick-file" data-ng-click="vm.displayEmbedder()"
                       ng-if="vm.isUpdate"></i>
                </div>
                <!--Change Video URL-->

                <embedder file-format="'video'"
                          hidden-share-video-code="false"
                          ng-model="vm.videoUrl"
                          ng-change="vm.changeUrl()"
                          ng-if="vm.displayChangeVideoLightbox"
                          show="vm.displayChangeVideoLightbox">
                </embedder>
            </div>
            <!-- Audio preview -->
            <div class="cell" ng-if="vm.form.resourceType == 'audio'">
                <audio controls preload="none"
                       src="/workspace/document/[[vm.form.resourceId]]">
                </audio>
            </div>
            <!-- File preview -->
            <div class="cell cardDirective-manage-lightbox-content-body-resource-file"
                 ng-if="vm.form.resourceType == 'file'">
                <img data-ng-src="/magneto/public/img/extension/[[vm.getFileExtension()]].svg">
                <span>[[vm.form.resourceFileName]]</span>
            </div>
            <!-- Link preview -->
            <div class="twelve cell cardDirective-manage-lightbox-content-body-caption vertical-spacing" ng-if="vm.form.resourceType == 'link'">
                <span><i18n >magneto.link.address</i18n>&nbsp;:</span>
                <input type="text" data-ng-model="vm.form.resourceUrl" class="eleven cell">
            </div>
        </div>
        <div class="vertical-spacing cardDirective-manage-lightbox-content-body-title">
            <i18n>magneto.card.title</i18n>&nbsp;:
            <input type="text" data-ng-model="vm.form.title" class="twelve cell">
        </div>
        <div ng-if="vm.form.resourceType !== 'text'" class="vertical-spacing cardDirective-manage-lightbox-content-body-caption">
            <i18n>magneto.card.caption</i18n>&nbsp;:
            <input type="text" data-ng-model="vm.form.caption" class="twelve cell">
        </div>
        <div class="row vertical-spacing cardDirective-manage-lightbox-content-body-description">
            <i18n>magneto.card.description</i18n>&nbsp;:
            <editor ng-model="vm.form.description" class="cardDirective-manage-lightbox-content-body-description-padding"></editor>
        </div>
        <div ng-if="vm.hasSection()" class="row vertical-spacing cardDirective-manage-content-lightbox-body-description">
            <i18n>magneto.card.section</i18n>&nbsp;:
            <select ng-model="vm.selectedSection"
                    ng-options="section.title for section in vm.board.sections">
            </select>
        </div>
    </section>
    <!-- Form submit/cancel buttons -->
    <section>
        <div class="row horizontal-spacing">
            <div class="twelve cell">
                <button class="right-magnet"
                        data-ng-click="vm.submitCard()"
                        data-ng-disabled="!vm.isFormValid()">
                    <i18n>magneto.save</i18n>
                </button>
                <button class="right-magnet cancel"
                        data-ng-click="vm.closeForm()">
                    <i18n>magneto.cancel</i18n>
                </button>
            </div>
        </div>
    </section>
</lightbox>