<div id="section-[[vm.section.id]]" ng-class="{'move': vm.board.myRights.publish !== undefined}" >
    <div class="sections-listDirective-content-container" ng-class="{'imove': vm.board.myRights.publish !== undefined}" tabindex="0">
        <i class="magneto-hide" aria-hidden="true" ng-show="!vm.section.displayed"></i>
        <div class="text-area sections-listDirective-content-title">
            <input ng-readonly="vm.board.myRights.publish === undefined" type="text" class="sections-listDirective-content-title input notDraggable"
                   ng-keyup="$event.keyCode == 13 ? vm.updateSection(vm.section) : null"
                   ng-blur="vm.updateSection(vm.section)"
                   ng-model="vm.section.title"/>
        </div>
        <i class="magneto-card-settings notDraggable" data-ng-click="vm.openSectionOptions(); $event.stopPropagation();"></i>
        <card-list-item-options
                ng-show="vm.isDisplayedOptions && vm.board.myRights.manager !== undefined"
                options="vm.section"
                has-delete="true"
                on-delete="vm.openDeleteSection"
                has-duplicate="true"
                on-duplicate="vm.openDuplicateSection"
                has-hide="true"
                on-hide="vm.openHide">
        </card-list-item-options>
    </div>
    <card-list
            ng-if="vm.board.id && !vm.isLoading"
            board-right="vm.board.myRights"
            selector-identifier="vm.formatSectionContainerSelector(vm.section, true)"
            selector-resize="vm.formatSectionSelector(vm.section)"
            layout="vm.board.layoutType"
            is-sortable="vm.board.myRights.publish !== undefined"
            has-caption="true"
            cards="vm.section.cards"
            on-move="vm.onMove"
            board-display="false"
            has-edit="vm.board.myRights.publish !== undefined"
            on-edit="vm.openEdit"
            has-duplicate="vm.board.myRights.contrib !== undefined"
            on-duplicate="vm.openDuplicate"
            has-delete="vm.board.myRights.manager !== undefined"
            on-delete="vm.openDelete"
            has-preview="vm.board.myRights.read !== undefined || vm.board.public"
            on-preview="vm.openPreview"
            has-transfer="vm.board.myRights.publish != undefined"
            on-transfer="vm.openTransfer"
            has-lock="vm.board.myRights.publish !== undefined"
            on-lock="vm.openLock"
            on-loaded="vm.onLoaded"
            card-update-eventer="vm.cardUpdateEventer"
            has-comments="vm.board.canComment"
            board-owner="vm.board.owner"
            has-favorite="true"
            display-favorite="vm.board.displayNbFavorites"
            zoom="vm.zoom"
            zoom-eventer="vm.zoomEventer"
            class="notDraggable notDraggable-item"
            ng-class="{'move': vm.board.myRights.publish !== undefined}"
    >
    </card-list>

    <infinite-scroll scrolled="vm.onScroll()"
                     loading-mode="false"
                     is-horizontal="vm.board.isLayoutHorizontal()"
                     query-selector="vm.formatSectionContainerSelector(vm.section, false)"
                     scroll-eventer="vm.infiniteScrollService"
                     ng-if="vm.isDomLoaded">
    </infinite-scroll>
</div>