<div class="sections-listDirective sections-listDirective-[[vm.board.layoutType]] sections-listDirective-zoom-[[vm.getZoomLevel()]] scrollbar">
    <div id="section-list" class="sections-listDirective-container-[[vm.board.layoutType]]">
        <section-list-item
                ng-repeat="section in vm.board.sections"
                board="vm.board"
                section="section"
                on-move="vm.getBoard"
                on-edit="vm.openEdit"
                on-duplicate="vm.openDuplicate"
                on-delete="vm.openDelete"
                on-delete-section="vm.openDeleteSectionLightbox"
                on-duplicate-section="vm.duplicateSection"
                on-preview="vm.openPreview"
                on-transfer="vm.openTransfer"
                on-lock="vm.openLock"
                class="scrollbar sections-listDirective-content sections-listDirective-content-[[vm.board.layoutType]]"
                card-update-eventer="vm.cardUpdateEventer"
                zoom-eventer="vm.zoomEventer"
                zoom="vm.zoom"
                has-longer-reposition="vm.board.myRights.manager !== undefined">
        </section-list-item>
    </div>
    <div ng-if="vm.board.myRights.publish !== undefined"
         class="sections-listDirective-content sections-listDirective-content-[[vm.board.layoutType]]">
        <div class="sections-listDirective-content-container" tabindex="0">
            <input type="text" class="sections-listDirective-content-title input"
                   ng-keyup="$event.keyCode == 13 ? vm.createSection(vm.newSection) : null"
                   ng-blur="vm.createSection(vm.newSection)"
                   ng-model="vm.newSection.title" i18n-placeholder="magneto.section.insert.title"/>
        </div>
        <div class="cardDirective-list cardDirective-list-[[vm.board.layoutType]] flex-row"
             ng-if="vm.board.layoutType != 'horizontal'">
        </div>
    </div>

    <!-- Section deletion modal -->
    <section-delete-lightbox
            display="vm.displayDeleteSectionLightbox"
            on-submit="vm.onFormSubmit"
            section-ids="[vm.selectedSection.id]"
            board-id="vm.board.id">
    </section-delete-lightbox>
</div>