ul.grid {
  padding-top: 15px;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;

  width: 100% !important;

  li.boardSizing {
    .card {
      padding: unset !important;
      margin: unset !important;
      display: flex;

      flex-wrap: wrap !important;
      flex-direction: column;

      .board-number-magnets {
        display: inline-flex;

        svg {
          color: #ffb600;
          font-size: 16px;
        }

        svg + p {
          margin-left: 0.5rem;
          font-size: 13px;
        }
      }

      .board-about {
        display: inline-flex;
        width: 100%;

        svg + p {
          margin-left: 0.5rem;
          font-size: 13px;
        }

        > div:first-child {
          margin-left: auto;
        }
      }
    }
  }
}

.headerFav {
  color: #368daf;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 3px;
  border-bottom: solid 3px;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  line-height: initial;
  font-size: initial;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1.5em;
}

.searchbar {
  width: 80%;
  margin: 0 auto;
}

.switchFav {
  margin-bottom: 10px;
}

.parent {
  display: flex;
  gap: 10px;
  align-items: baseline;
  padding-top: 2rem;
}

.duplicateText {
  font-size: 14px;
  line-height: 45px;
  text-decoration: underline;
  cursor: pointer;
}

.copy-icon {
  margin-bottom: 0.25em;
}

ul {
  list-style-type: none;
}
