name: dev-check-repository

on: [push]

jobs:
  build-node-test:
    runs-on: ubuntu-latest

    container:
      image: opendigitaleducation/node:18-alpine-pnpm
      options: --user root -v ${{ github.workspace }}:/home/node/:rw

    steps:
      - uses: actions/checkout@v1
      - name: Run yarn install
        working-directory: ./frontend
        env:
          TIPTAP_PRO_TOKEN: ${{ secrets.TIPTAP_PRO_TOKEN }}
        run: yarn install
      - name: Run build node with Gulp
        working-directory: ./frontend
        run: node_modules/gulp/bin/gulp.js build
      - name: Run build node sass
        working-directory: ./frontend
        run: yarn run build:sass
      - name: Run test
        working-directory: ./frontend
        run: yarn test

  build-maven-test:
    runs-on: ubuntu-latest

    container:
      image: maven:3.8.6-jdk-8
      options: --user root -v ${{ github.workspace }}:/home/maven/:rw

    steps:
      - uses: actions/checkout@v1
      - name: Run build maven
        working-directory: ./backend
        run: mvn -Duser.home=/var/maven clean install
      - name: Run maven test
        working-directory: ./backend
        run: mvn -Duser.home=/var/maven test
